body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(BRP11-288.jpg)
}
button {
    border-radius: 50px;
    width: 100px;
    height: 50px;    
    margin: 100px;
}
h3 {
  color: #ff4d6d;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 6px pink;
  -webkit-text-stroke-color: rgb(87, 38, 38);
  -webkit-text-stroke-width: 1px;
  position: absolute;
  left: 500px;
  top: 200px;
  font-family: "Fugaz One";
}
#yes {
    background-image: url(concept-of-valentine-day-men-give-paper-hearts-to-women-paper-art-illustration-paper-cut-and-craft-style-vector.jpg);
    font-size: 28px;
    -webkit-text-stroke-color: rgb(87, 38, 38);
    color: #ff4d6d;
    position: absolute;
    -webkit-text-stroke-width: 1px;
    left: 580px;
    top: 350px;
}
#no {
    background-color: rgb(175, 54, 54);
    font-size: 28px;
    -webkit-text-stroke-color: rgb(14, 12, 12);
    color: #490808;
    position: absolute;
    top: 350px;
    right: 500px;
}
.container {
    text-align: center;
}
.changa-one-regular {
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
